{% extends 'base.html' %}



{% block content %}

<div class="container" style="width: 75%;">
        <h3>List of Courses</h3>
    <table class="table table-hover" >
    <thead class = "thead-dark">
        <tr>
            <th scope="col">Course Id</th>
            <th scope="col">Course Name</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    <tbody>
        {% for r in result%}
        <tr>
            <td>{{r[0]}}</td>
            <td>{{r[1]}}</td>
            <td>{{r[2]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <a href="/createCourse" class="btn btn-warning" role="button" aria-pressed="true">Add New Course</a>
</div>

</div>

{% endblock %}